<configuration>
    <property resource="application.properties" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="TRACE_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${log.path}/trace.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DEBUG_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${log.path}/debug.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="INFO_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${log.path}/info.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="WARN_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${log.path}/warn.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{46} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ERROR_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${log.path}/error.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="${customLoggerName}" level="TRACE">
        <appender-ref ref="TRACE_FILE"/>
    </logger>

    <logger name="${customLoggerName}.debug" level="DEBUG">
        <appender-ref ref="DEBUG_FILE"/>
    </logger>

    <logger name="${customLoggerName}.info" level="INFO">
        <appender-ref ref="INFO_FILE"/>
    </logger>

    <logger name="${customLoggerName}.warn" level="WARN">
        <appender-ref ref="WARN_FILE"/>
    </logger>

    <logger name="${customLoggerName}.error" level="ERROR">
        <appender-ref ref="ERROR_FILE"/>
    </logger>


    <root level="TRACE">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
